body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.display {
    grid-column: span 4;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #EE82EE;
}

.operator {
    background-color: #ff9500; /* orange */
}

.reset-btn {
    grid-column: span 4;
    padding: 15px;
    font-size: 1em;
    background-color: #4CAF50; /* green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #45a049;
}
